* {
  font-family: "Inter", sans-serif;
  transition-duration: 0.5s;
  box-sizing: border-box;
}

body {
  background-color: #222;
  padding-top: 2rem;
}
body .content {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 calc((100% - 60%) / 2);
}
body .content .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .content .header-text {
  display: flex;
  flex-direction: column;
}
body .content .header-text-qualifications {
  background-color: #363636;
  color: #ffc165;
  padding: 0.25rem 1rem;
  margin-bottom: 0;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .content .header-text-tournament {
  color: #00b285;
  font-size: 2rem;
  margin-bottom: 1rem;
}
body .content .header-text-categories .category {
  color: #c9c9c9;
  font-size: 1.5rem;
  margin: 0;
}
body .content .header-apply-button {
  color: #fff;
  background-color: #00b285;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.75rem 2rem;
  margin-top: auto;
  border-radius: 0.25rem;
  border: none;
}
body .content .header-apply-button:hover {
  cursor: pointer;
}
body .content .header-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29rem;
  background: linear-gradient(0deg, #00b285, #222 50%);
  border-radius: 0.5rem;
  padding: 0;
}
body .content .header-image-container .header-image {
  width: 25rem;
}
body .content .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}
body .content .main .rules {
  display: flex;
  flex-direction: column;
}
body .content .main .rules-header {
  color: #00b285;
  font-size: 1.5rem;
  margin-top: 0;
}
body .content .main .rules-point {
  margin-bottom: 1.5rem;
}
body .content .main .rules-point-header {
  color: #cec7a6;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
body .content .main .rules-plaintext, body .content .main .rules .scoring-hint {
  font-size: 0.75rem;
  font-weight: 200;
}
body .content .main .rules-plaintext {
  color: #c9c9c9;
  margin: 0;
}
body .content .main .rules .scoring-hint {
  color: #ababab;
  font-style: italic;
}
body .content .main .rules .scoring-point {
  margin: 0;
}
body .content .main .rules .scoring-point-kill-count, body .content .main .rules .scoring-point-points {
  font-size: 0.75rem;
}
body .content .main .rules .scoring-point-kill-count {
  color: #00b285;
}
body .content .main .rules .scoring-point-points {
  color: #ffc165;
}
body .content .main .rules .scoring-point .delimiter {
  color: #c9c9c9;
}
body .content .main .rules-unordered-list {
  list-style-type: "- ";
  margin: 0;
  padding-left: 0.5rem;
}
body .content .main .rules-unordered-list-point {
  color: #c9c9c9;
  font-weight: 200;
  font-size: 0.75rem;
}
body .content .main .rules .applying-point-1-styled-text {
  color: #00b285;
  font-weight: 500;
}
body .content .main .additional-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 25rem;
  min-width: 20rem;
  margin-left: 2rem;
}
body .content .main .additional-info-item {
  margin-bottom: 1rem;
  width: 100%;
}
body .content .main .additional-info-item.main-apply-button {
  width: auto;
}
body .content .main .additional-info .timing-info {
  display: flex;
  flex-direction: column;
  background-color: #363636;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}
body .content .main .additional-info .timing-info-text {
  margin: 0 0 0.25rem 0;
  font-size: 0.75rem;
  font-weight: 300;
}
body .content .main .additional-info .timing-info-header {
  color: #fff;
  font-weight: 500;
}
body .content .main .additional-info .timing-info-dates, body .content .main .additional-info .timing-info-start {
  color: #cec7a6;
}
body .content .main .additional-info .location {
  position: relative;
}
body .content .main .additional-info .location-image {
  width: 100%;
}
body .content .main .additional-info .location-text-block {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
body .content .main .additional-info .location-text-block-header {
  color: #cec7a6;
}
body .content .main .additional-info .location-text-block-content {
  color: #fff;
  font-size: 0.75rem;
}
body .content .main .additional-info .location-text-block-header, body .content .main .additional-info .location-text-block-content {
  margin: 0.25rem 0;
}
body .content .main .additional-info .main-apply-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00b285;
  background-color: rgba(0, 0, 0, 0);
  border: solid #00b285 0.1rem;
  padding: 0.75rem 0;
  border-radius: 0.25rem;
  min-width: 66%;
}
body .content .main .additional-info .main-apply-button:hover {
  cursor: pointer;
}
body .content .footer {
  display: flex;
  flex-direction: column;
}
body .content .footer-point {
  margin-bottom: 1.5rem;
}
body .content .footer-point-header {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #cec7a6;
}
body .content .footer-point .rewards-by-place {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-between;
}
body .content .footer-point .rewards-by-place .place {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #363636;
  width: calc((100% / 4) - 2%);
}
body .content .footer-point .rewards-by-place .place-header {
  color: #00b285;
  margin: 0.25rem 0;
}
body .content .footer-point .rewards-by-place .place-reward {
  color: #ffc165;
  margin: 0.25rem 0;
  font-weight: 300;
  font-size: 1.2rem;
}
body .content .footer-point .additional-rewards {
  width: 100%;
  background-color: #363636;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
}
body .content .footer-point .additional-rewards-header {
  margin: 0;
  color: #cec7a6;
  font-weight: 300;
}
body .content .footer-point .additional-rewards-list {
  list-style-type: "- ";
  margin: 0;
  padding-left: 0.5rem;
  height: 0;
  visibility: hidden;
}
body .content .footer-point .additional-rewards-list-point {
  color: #c9c9c9;
  font-weight: 200;
  font-size: 0.75rem;
}
body .content .footer-point .additional-rewards-list-point {
  transition-duration: 0s;
  opacity: 0;
}
body .content .footer-point .additional-rewards-list.displayed {
  height: 3rem;
  visibility: visible;
  margin-top: 1rem;
}
body .content .footer-point .additional-rewards-list.displayed .additional-rewards-list-point {
  transition-duration: 0.5s;
  opacity: 1;
}
body .content .footer-point .additional-rewards:hover {
  cursor: pointer;
}
body .content .footer-point .sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .content .footer-point .sponsors .sponsor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start;
  width: calc((100% / 4) - 2%);
  border-radius: 0.25rem;
  background-color: #363636;
  padding: 0.75rem;
}
body .content .footer-point .sponsors .sponsor-image {
  margin-right: 1rem;
}
body .content .footer-point .sponsors .sponsor-name {
  color: #00b285;
}/*# sourceMappingURL=styles.css.map */