@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

$content-width: 60%;

$default-offset: 1rem;
$default-offset-half: calc($default-offset / 2);
$default-offset-quarter: calc($default-offset / 4);
$default-offset-double: $default-offset * 2;
$offset-small: $default-offset * 0.75;
$offset-medium: $default-offset * 1.5;
$offset-big: $default-offset * 3;
$offset-large: $default-offset * 4;

$default-font-size: 1rem;
$font-size-small: $default-font-size * 0.75;
$font-size-medium: $default-font-size * 1.2;
$font-size-big: $default-font-size * 1.5;
$font-size-large: $default-font-size * 2;

$default-border-width: 0.1rem;

$default-border-radius: 0.25rem;
$border-radius-medium: $default-border-radius * 2;
$border-radius-small: calc($default-border-radius / 2);

$header-image-width: 25rem;
$header-image-container-width: $header-image-width + $offset-large;

$additional-info-container-width: 35%;

$dark-gray: #222;
$orange: #ffc165;
$lightgreen: #00b285;
$light-gray: #c9c9c9;
$gray: #363636;
$white: #fff;
$beige: #cec7a6;
$hint-text-color: #ababab;

* {
    font-family: 'Inter', sans-serif;
    transition-duration: 0.5s;
    box-sizing: border-box;
}

body {
    background-color: $dark-gray;
    padding-top: $default-offset-double;
    
    .content {
        @include flex-column;
        width: $content-width;
        margin: 0 calc((100% - #{$content-width}) / 2);

        .header {
            width: 100%;
            @include flex-row;

            &-text {
                @include flex-column;

                &-qualifications {
                    background-color: $gray;
                    color: $orange;
                    padding: $default-offset-quarter $default-offset;
                    margin-bottom: 0;
                    border-radius: $default-border-radius;
                    font-size: $font-size-small;
                    text-align: center;
                    width: max-content;
                }
    
                &-tournament {
                    color: $lightgreen;
                    font-size: $font-size-large;
                    margin-bottom: $default-offset;
                }
    
                &-categories {
    
                    .category {
                        color: $light-gray;
                        font-size: $font-size-big;
                        margin: 0;
                    }
                }
            }

            &-apply-button {
                color: $white;
                background-color: $lightgreen;
                width: max-content;
                padding: $offset-small $default-offset-double;
                margin-top: auto;
                border-radius: $default-border-radius;
                border: none;

                &:hover {
                    cursor: pointer;
                }
            }

            &-image-container {
                @include flex-centered;

                width: $header-image-container-width;
                background: linear-gradient(0deg, $lightgreen, $dark-gray 50%);
                border-radius: $border-radius-medium;
                padding: 0;

                .header-image {
                    width: $header-image-width;
                }
            }
        }

        .main {
            @include flex-row;

            margin-top: $offset-big;

            .rules {
                @include flex-column;

                &-header {
                    color: $lightgreen;
                    font-size: $font-size-big;
                    margin-top: 0;
                }

                &-point {
                    margin-bottom: $offset-medium;

                    &-header {
                        color: $beige;
                        font-size: $default-font-size;
                        margin-bottom: $default-offset;
                    }
                }

                &-plaintext, .scoring-hint {
                    font-size: $font-size-small;
                    font-weight: 200;
                }

                &-plaintext {
                    color: $light-gray;
                    margin: 0;
                }

                .scoring-hint {
                    color: $hint-text-color;
                    font-style: italic;
                }
                
                .scoring-point {
                    margin: 0;

                    &-kill-count, &-points {
                        font-size: $font-size-small;
                    }
    
                    &-kill-count {
                        color: $lightgreen;
                    }
    
                    &-points {
                        color: $orange;
                    }

                    .delimiter {
                        color: $light-gray;
                    }
                }

                &-unordered-list {
                    list-style-type: "- ";
                    margin: 0;
                    padding-left: $default-offset-half;

                    &-point {
                        color: $light-gray;
                        font-weight: 200;
                        font-size: $font-size-small;
                    }
                }

                .applying-point-1-styled-text {
                    color: $lightgreen;
                    font-weight: 500;
                }
            }

            .additional-info {
                @include flex-column;
                align-items: flex-end;
                width: $additional-info-container-width;
                margin-left: $default-offset-double;

                &-item {
                    margin-bottom: $default-offset;
                    width: 100%;

                    &.main-apply-button {
                        width: auto;
                    }
                }

                .timing-info {
                    @include flex-column;

                    background-color: $gray;
                    border-radius: $default-border-radius;
                    padding: $offset-small $default-offset;

                    &-text {
                        margin: 0 0 $default-offset-quarter 0;
                        font-size: $font-size-small;
                        font-weight: 300;
                    }

                    &-header {
                        color: $white;
                        font-weight: 500;
                    }

                    &-dates, &-start {
                        color: $beige;
                    }
                }

                .location {
                    position: relative;

                    &-image {
                        width: 100%;
                    }

                    &-text-block {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: $default-offset;

                        &-header {
                            color: $beige;
                        }

                        &-content {
                            color: $white;
                            font-size: $font-size-small;
                        }

                        &-header, &-content {
                            margin: $default-offset-quarter 0;
                        }
                    }
                }

                .main-apply-button {
                    color: $lightgreen;
                    background-color: rgba(0, 0, 0, 0);
                    border: solid $lightgreen $default-border-width;
                    padding: $offset-small $default-offset-double;
                    border-radius: $default-border-radius;
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}